

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    

}
    li{
    list-style-type: none;
    
}
.nav{
    width: 100%;
    height: 0.4px;

    
}
 
ul{
    display: flex;
    justify-content: flex-end;  
    


}
ul li{
    
    /* padding: 5px; */
    padding:12px ;
    /* padding-right:12px ; */
    font-size: 0.9rem;
    
}
a{
    text-decoration: none;
}
.logo{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    padding: 2rem;
} 
.logo img{
    padding: 2rem;
}
.logo>input{
    height: 2rem;
    border-radius: 3rem;
    outline: none;
    width: 40%;
    position: relative;
    padding-left: 2rem;
    
}

.uil-search{
     position: absolute; 
     margin-top: 10.4rem;
     margin-left: -33rem;
     z-index: 1;
    font-size: 1rem;

}
.uil-microphone{
   position: absolute;
   margin-top: 10.4rem;
     margin-left: 32rem;
     z-index: 1;
    font-size: 1rem;

}
.logo .down{
    padding: 2rem;
 

}
.box:hover{
    box-shadow: 0 0 10px 2px darkseagreen;
}
.box2,.box3{
    
    border: none;
    background-color:#F8F9FA;
    padding: 0.5rem;
    width: 7rem;
    outline: #F2F2F2;

}
.box2:hover,.box3:hover{
    box-shadow: 0 0 10px 2px darkseagreen;

}
.mine{
    font-size: 0.9rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color:rgb(242,242,242)  ;
    border-bottom: 0.04rem solid #DADCE0;
    color: #9A757A;
   
}
footer{
    margin-top: 4rem;
    font-size: 1rem;
}
.f1{
    height: 2.5rem;
    background-color:rgb(242,242,242) ;
    padding-top: 1rem;
    padding-left: 1.5rem;
    text-align: left;
    width: 100%;
    border-bottom: 0.04rem solid #DADCE0;
    color: #9A757A;
}
.three{
    display: flex;
    padding-left: 1.5rem;
    
    
}
.f2{
    display: flex;
    justify-content: flex-start;
    
    /* width: 50%; */
    
}
.fs>p,.f2>p{
    padding: 0.5rem;
}
.fs{
    display: flex;
    justify-content: flex-end;
}






 .sign{
    background-color:#1A73E8;
    color: white;
    height: 25px;
    width: 100px;
    padding: 0;
    margin:0;
    outline:0;
    border-radius: 5px;
}
.sign button{
    outline: 0;
}

