

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
    li{
    list-style-type: none;
    
}
.nav{
    width: 100%;
    height: 8px;

    
}

.none{
    border-radius: 50px 0px 0px 50px;
    background-color: white;
    margin-left: 8px;
    margin-top: 15px;
    position: absolute;
    color: rgb(154,160,166);
    border-collapse: collapse;
    border: none;
}
.micro{
    border-radius: 0px 50px 50px 0px;
    border-color: cadetblue;
    border: none;
    color: rgb(66,133,244);
    background-color: white;
    position: absolute;
    margin-top: 15px;
    margin-left: 36%;
}
 .sign{
    background-color:#1A73E8;
    color: white;
    height: 25px;
    width: 100px;
    padding: 0;
    margin:0;
    outline:0;
    border-radius: 5px;
}
.sign button{
    outline: 0;
}


 
ul{
    display: flex;
    justify-content: flex-end;  
    


}
ul li{
    
    padding: 5px;
    padding-left:12px ;
    padding-right:12px ;
    font-size: 15px;
    
}
a{
    text-decoration: none;
}


.img{
    text-align: center;
margin-top: 50px;
    padding: 5px;

}

.logo{
    
    display: inline-flex;
    margin-left: 30%;
    padding: 10px;
    
}
.down{
    width: 25px;
    display: inline-flex;
    margin-left: 40%;
    padding: 10px;
}
.box{
    width: 520px;
    height: 40px;
    outline: 0;
    border: 1px solid #c4c4c4;
    border-radius: 40px;
    text-indent: 35px;
    
    text-indent: 40px;
    font-weight: 500;
    position: relative;
    
}
.box:hover{
    box-shadow: 0 0 10px 2px darkseagreen;
}
.box2{
    padding: 10px;
    border: none;
    background-color:#F8F9FA;

}
.box2:hover{
    box-shadow: 0 0 10px 2px darkseagreen;

}
.box3{
    padding: 10px;
    border: none;
    margin-left: 20px;
    background-color: #F8F9FA;
}
.box3:hover{
    box-shadow: 0 0 10px 2px darkseagreen;
}
 .box2{
    margin-left: 40%;
    padding: 5px;
    width: 100px;
    outline: #F2F2F2;
}
.box3{
    padding: 5px;
    width: 110px;
    outline: #F2F2F2;
} 
 .stat{
    margin-left: 30%;
    padding: 5px;
}
.f1{
    display: flex;
    
    height: 10px;
    background-color: rgb(242,242,242);
    border: 0 0 2px 0;
    border-bottom: 2px solid #DADCE0;  
    padding: 20px;
    
}
ul li img{
    color: #5F6368;
}
.mine{
    height: 220px;
    
}
.topimg{
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}
.f2{
   
    height:40px;
    padding:20px;
}
.fs{
    height:40px;
    padding:20px;

}
.three{
    display: flex;
    background-color: #F2F2F2;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
@media only screen and (max-width: 1200px){
.three {
    justify-content: space-evenly;
}
}
.stat{
    font-size: 15px;
}
.col{
    color: blue;
    font-size: 13px;
    width: 50px;

}
div{
    display: block;
}
.col a{
    text-decoration: none;

}
.col a:hover{
    text-decoration: underline;
}

.footer{
    position: fixed;
    width: 100%;
    color: #70757A;

} 